@font-face {
    font-family: 'Bodoni Moda';
    src: url('fonts/BodoniModa/hinted-BodoniModa-Italic.eot');
    src: local('Bodoni Moda Italic'), local('BodoniModa-Italic'),
        url('fonts/BodoniModa/hinted-BodoniModa-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/BodoniModa/hinted-BodoniModa-Italic.woff2') format('woff2'),
        url('fonts/BodoniModa/hinted-BodoniModa-Italic.woff') format('woff'),
        url('fonts/BodoniModa/hinted-BodoniModa-Italic.ttf') format('truetype'),
        url('fonts/BodoniModa/hinted-BodoniModa-Italic.svg#BodoniModa-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda';
    src: url('fonts/BodoniModa/hinted-BodoniModa-Regular.eot');
    src: local('Bodoni Moda Regular'), local('BodoniModa-Regular'),
        url('fonts/BodoniModa/hinted-BodoniModa-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BodoniModa/hinted-BodoniModa-Regular.woff2') format('woff2'),
        url('fonts/BodoniModa/hinted-BodoniModa-Regular.woff') format('woff'),
        url('fonts/BodoniModa/hinted-BodoniModa-Regular.ttf') format('truetype'),
        url('fonts/BodoniModa/hinted-BodoniModa-Regular.svg#BodoniModa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

