@font-face {
	font-family: 'Fraunces';
	src: url('fonts/Fraunces/hinted-Fraunces-9ptBlackItalic.eot');
	src:
		local('Fraunces 9pt Black Italic'),
		local('Fraunces-9ptBlackItalic'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlackItalic.woff2') format('woff2'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlackItalic.woff') format('woff'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlackItalic.ttf') format('truetype'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlackItalic.svg#Fraunces-9ptBlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Fraunces';
	src: url('fonts/Fraunces/hinted-Fraunces-9ptBlack.eot');
	src:
		local('Fraunces 9pt Black'),
		local('Fraunces-9ptBlack'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlack.eot?#iefix') format('embedded-opentype'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlack.woff2') format('woff2'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlack.woff') format('woff'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlack.ttf') format('truetype'),
		url('fonts/Fraunces/hinted-Fraunces-9ptBlack.svg#Fraunces-9ptBlack') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
