@font-face {
    font-family: 'Mostra Nuova';
    src: local('Mostra Nuova Bold'), local('MostraNuova-Bold'),
        url('fonts/MostraNuova/MostraNuova-Bold.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuova-Bold.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova';
    src: local('Mostra Nuova Thin'), local('MostraNuova-Thin'),
        url('fonts/MostraNuova/MostraNuova-Thin.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuova-Thin.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuova-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova';
    src: local('Mostra Nuova Black'), local('MostraNuova-Black'),
        url('fonts/MostraNuova/MostraNuova-Black.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuova-Black.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova';
    src: local('Mostra Nuova Light'), local('MostraNuova-Light'),
        url('fonts/MostraNuova/MostraNuova-Light.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuova-Light.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova';
    src: local('Mostra Nuova Regular'), local('MostraNuova-Regular'),
        url('fonts/MostraNuova/MostraNuova-Regular.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuova-Regular.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova';
    src: local('Mostra Nuova Heavy'), local('MostraNuova-Heavy'),
        url('fonts/MostraNuova/MostraNuova-Heavy.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuova-Heavy.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuova-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltD';
    src: local('Mostra Nuova AltD Light'), local('MostraNuovaAltD-Light'),
        url('fonts/MostraNuova/MostraNuovaAltD-Light.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltD-Light.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltD-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltD';
    src: local('Mostra Nuova AltD Bold'), local('MostraNuovaAltD-Bold'),
        url('fonts/MostraNuova/MostraNuovaAltD-Bold.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltD-Bold.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltD-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltD';
    src: local('Mostra Nuova AltD Heavy'), local('MostraNuovaAltD-Heavy'),
        url('fonts/MostraNuova/MostraNuovaAltD-Heavy.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltD-Heavy.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltD-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltD';
    src: local('Mostra Nuova AltD Regular'), local('MostraNuovaAltD-Regular'),
        url('fonts/MostraNuova/MostraNuovaAltD-Regular.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltD-Regular.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltD-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltD';
    src: local('Mostra Nuova AltD Thin'), local('MostraNuovaAltD-Thin'),
        url('fonts/MostraNuova/MostraNuovaAltD-Thin.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltD-Thin.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltD-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltD';
    src: local('Mostra Nuova AltD Black'), local('MostraNuovaAltD-Black'),
        url('fonts/MostraNuova/MostraNuovaAltD-Black.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltD-Black.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltD-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltC';
    src: local('Mostra Nuova AltC Regular'), local('MostraNuovaAltC-Regular'),
        url('fonts/MostraNuova/MostraNuovaAltC-Regular.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltC-Regular.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltC';
    src: local('Mostra Nuova AltC Bold'), local('MostraNuovaAltC-Bold'),
        url('fonts/MostraNuova/MostraNuovaAltC-Bold.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltC-Bold.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltC';
    src: local('Mostra Nuova AltC Heavy'), local('MostraNuovaAltC-Heavy'),
        url('fonts/MostraNuova/MostraNuovaAltC-Heavy.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltC-Heavy.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltC-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltC';
    src: local('Mostra Nuova AltC Light'), local('MostraNuovaAltC-Light'),
        url('fonts/MostraNuova/MostraNuovaAltC-Light.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltC-Light.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltC';
    src: local('Mostra Nuova AltC Thin'), local('MostraNuovaAltC-Thin'),
        url('fonts/MostraNuova/MostraNuovaAltC-Thin.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltC-Thin.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltC-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltB';
    src: local('Mostra Nuova AltB Light'), local('MostraNuovaAltB-Light'),
        url('fonts/MostraNuova/MostraNuovaAltB-Light.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltB-Light.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltB-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltB';
    src: local('Mostra Nuova AltB Thin'), local('MostraNuovaAltB-Thin'),
        url('fonts/MostraNuova/MostraNuovaAltB-Thin.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltB-Thin.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltB-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltC';
    src: local('Mostra Nuova AltC Black'), local('MostraNuovaAltC-Black'),
        url('fonts/MostraNuova/MostraNuovaAltC-Black.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltC-Black.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltC-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltB';
    src: local('Mostra Nuova AltB Regular'), local('MostraNuovaAltB-Regular'),
        url('fonts/MostraNuova/MostraNuovaAltB-Regular.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltB-Regular.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltA';
    src: local('Mostra Nuova AltA Thin'), local('MostraNuovaAltA-Thin'),
        url('fonts/MostraNuova/MostraNuovaAltA-Thin.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltA-Thin.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltA-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltB';
    src: local('Mostra Nuova AltB Black'), local('MostraNuovaAltB-Black'),
        url('fonts/MostraNuova/MostraNuovaAltB-Black.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltB-Black.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltB-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltB';
    src: local('Mostra Nuova AltB Heavy'), local('MostraNuovaAltB-Heavy'),
        url('fonts/MostraNuova/MostraNuovaAltB-Heavy.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltB-Heavy.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltB-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltB';
    src: local('Mostra Nuova AltB Bold'), local('MostraNuovaAltB-Bold'),
        url('fonts/MostraNuova/MostraNuovaAltB-Bold.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltB-Bold.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltA';
    src: local('Mostra Nuova AltA Regular'), local('MostraNuovaAltA-Regular'),
        url('fonts/MostraNuova/MostraNuovaAltA-Regular.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltA-Regular.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltA';
    src: local('Mostra Nuova AltA Light'), local('MostraNuovaAltA-Light'),
        url('fonts/MostraNuova/MostraNuovaAltA-Light.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltA-Light.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltA';
    src: local('Mostra Nuova AltA Heavy'), local('MostraNuovaAltA-Heavy'),
        url('fonts/MostraNuova/MostraNuovaAltA-Heavy.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltA-Heavy.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltA-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltA';
    src: local('Mostra Nuova AltA Black'), local('MostraNuovaAltA-Black'),
        url('fonts/MostraNuova/MostraNuovaAltA-Black.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltA-Black.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltA-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mostra Nuova AltA';
    src: local('Mostra Nuova AltA Bold'), local('MostraNuovaAltA-Bold'),
        url('fonts/MostraNuova/MostraNuovaAltA-Bold.woff2') format('woff2'),
        url('fonts/MostraNuova/MostraNuovaAltA-Bold.woff') format('woff'),
        url('fonts/MostraNuova/MostraNuovaAltA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

